<!-- Partial to be inserted into each page in the body section or just after
depending on what makes sense with CSS-->

<footer>
    <ul>
        <li> <a href = "partials/aboutUs.ejs">Meet The Team</a></li>
        <li> <p> &copy 2020: Ashley Casimir, Kim Damalas, Bobby McPherson</p></li>
    </ul>
</footer>