<!-- Partial to be inserted into each page in the body section or just after
depending on what makes sense with CSS-->

<footer>
    <p> &copy 2020: Ashley Casimir, Kim Damalas, Bobby McPherson</p>
</footer>