<!-- Partial to be inserted into each page in the header section or other
depending on what makes sense with CSS-->

<nav class="headerNav">
    <a href = "/"> <img class = "icon active logo" src = "/icons-pretty-pics/icon-small-ISS.png"> </a>
    <ul class="headerUL">
        <li class="headerUL"> <a href = "/basic/results"> Your Passes </a></li>
        <li class="headerUL"> <a href = "/info">Fun Facts</a></li>
    </ul>
</nav>
