<!-- Partial to be inserted into each page in the header section or other
depending on what makes sense with CSS-->

<nav>
    <ul>
        <li> <a href = "partials/basicUser"> Home </a></li>
        <li> <a href = "partials/radio"> Radio User</a></li>
        <li> <a href = "partials/info">Fun Facts</a></li>
        <li> <a href = "partials/aboutUs">Meet The Team</a></li>
    </ul>
</nav>
