<!doctype html>

<head>
  <title>Fun Facts and ISS Info</title>
  <link rel="stylesheet" href = "reset.css">
  <link rel="stylesheet" href="kimStyles.css">

</head>

<body>
  <header>
    <!-- <%- include ('views/partials/header')%> -->

    <!-- Partial to be inserted into each page in the header section or other
depending on what makes sense with CSS-->

  <nav>
    <ul>
        <li> <a href = "partials/basicUser"> Home </a></li>
        <li> <a href = "partials/radio"> Radio User</a></li>
        <li> <a href = "partials/info">Fun Facts</a></li>
        <li> <a href = "partials/aboutUs">Meet The Team</a></li>
    </ul>
  </nav>

  </header>

  <main>
    <!-- This section has 2 Astronaut pics and bios -->

    <section  id = "astroBios">
      <img src = "/infoImages/bobBehnken.jpg" class = "mediumImage" target = "_blank" alt = "Pic and Bio Bob Behnken">
      <figcaption><a href = "https://www.nasa.gov/astronauts/biographies/robert-l-behnken" target = "_blank"> Bob Behnken</a></figcaption>

      <img src = "/infoImages/chrisCassidy.jpg"  class = "mediumImage" alt = "Pic and Bio Chris Cassidy">
      <figcaption><a href = "https://www.nasa.gov/astronauts/biographies/christopher-j-cassidy" target = "_blank"> Chris Cassidy</a></figcaption>

      <img src = "/infoImages/dougHurley.jpg" class = "mediumImage" target = "_blank" alt = "Pic and Bio Doug Hurley">
      <figcaption><a href = "hhttps://www.nasa.gov/astronauts/biographies/douglas-g-hurley" target = "_blank"> Doug Hurley</a></figcaption>

      <img src = "/infoImages/anatolyIvanishin.jpg" class = "mediumImage" target = "_blank" alt = "Pic and Bio Anatoly Ivanishin">
      <figcaption><a href = "http://www.gctc.ru/main.php?id=177" target = "_blank"> Anatoly Ivanishin</a></figcaption>
      
      <img src = "/infoImages/ivanVagner.jpg" class = "mediumImage" target = "_blank" alt = "Pic and Bio Ivan Vagner">
      <figcaption><a href = "http://www.gctc.ru/main.php?id=164" target = "_blank"> Ivan Vagner</a></figcaption>


    </section>

  </main>
  <!-- Partial to be inserted into each page in the body section or just after
depending on what makes sense with CSS-->

    <!-- <%- include ('views/partials/footer')%> -->


<footer>
    <ul>
        <li> <a href = "partials/aboutUs.ejs">Meet The Team</a></li>
        <li> <p> &copy 2020: Ashley Casimir, Kim Damalas, Bobby McPherson</p></li>
    </ul>
</footer>
</body>

