<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ISS Tracker</title>
    <link rel="stylesheet" type="text/css" href="/public/styles/styles.css">
</head>
<body>
    <header>
        <!-- <%- include('../partials/header') %> -->   
    </header>

    <main>
        <div><h1>
            Track the International Space Station
        </h1 ></div>
        <div>
            <input name="name" placeholder="Enter Name" />
        </div>
        <div>
            <input name="city" placeholder="Enter City" />
        </div>
        <div>
            <button type="submit">Search</button>
        </div>
    </main>
    <footer>
        <!-- <%- include('../partials/footer') %> -->   
    </footer>
</body>
</html>