<!DOCTYPE html>
<head>
    <title>About Us</title>
    <link rel="stylesheet" href = "styles/reset.css">
    <link rel="stylesheet" type="text/css" href="styles/styling.css">
</head>
<body>
    <header>
        <nav class= "scroll">
            <a href = "/"> <img class = "icon active logo" src = "/icons-pretty-pics/icon-small-ISS.png"> </a>
            <ul>
              <li>
                <form action="/basic/results">
                  <input type="hidden" name="city" value=<%= city %>>
                  <button type="submit">Your Passes</button>
                </form>
              </li>
              <li>
                <form action="/info">
                  <input type="hidden" name="city" value=<%= city %>>
                  <button type="submit">Fun Facts</button>
                </form>
              </li>
            </ul>
          
            <hr class = "hrBottom">
          
          </nav>
    </header>
 

    <main id="bioMain">
        <section>
        <section >
            <img class = "apod" src="icons-pretty-pics/ISS-flyover.jpg" alt="ISS flyover pic"> 
        </section>
        </section>

        <section class="bioPics">
            <img  src="https://via.placeholder.com/250" alt="Ashley's Bio">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci blanditiis officiis repudiandae laborum nulla ex sunt ut nemo, optio consectetur odit placeat. Odit earum doloribus est pariatur ad, maxime recusandae!</p>
        </section>
        <section class="bioPics">
            <img src="https://via.placeholder.com/250" alt="Bobby's Bio">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci blanditiis officiis repudiandae laborum nulla ex sunt ut nemo, optio consectetur odit placeat. Odit earum doloribus est pariatur ad, maxime recusandae!</p>
        </section>
        <section class="bioPics">
            <img src="https://via.placeholder.com/250" alt="Kim's Bio">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci blanditiis officiis repudiandae laborum nulla ex sunt ut nemo, optio consectetur odit placeat. Odit earum doloribus est pariatur ad, maxime recusandae!</p>
        </section>
    </main>
    <footer id = "abFooter">
        <p> &copy 2020: Ashley Casimir, Bobby McPherson, Kim Damalas </p>
      </footer>
      
</body>
</html>