<!DOCTYPE html>
<head>
    <title>About Us</title>
    <link rel="stylesheet" href = "styles/reset.css">
    <link rel="stylesheet" type="text/css" href="styles/styling.css">
</head>
<body>
    <header>
        <nav class= "scroll">
            <a href = "/"> <img class = "icon active logo" src = "/icons-pretty-pics/icon-small-ISS.png"> </a>
            <ul>
              <li>
                <form action="/basic/results">
                  <input type="hidden" name="city" value=<%= city %>>
                  <button type="submit">Your Passes</button>
                </form>
              </li>
              <li>
                <form action="/info">
                  <input type="hidden" name="city" value=<%= city %>>
                  <button type="submit">Fun Facts</button>
                </form>
              </li>
            </ul>
          
            <hr class = "hrBottom">
          
          </nav>
    </header>
 
    
    <main id="bioMain">
      <section>
        <section >
          <img class = "apod" src="icons-pretty-pics/ISS-flyover.jpg" alt="ISS flyover pic"> 
        </section>
      </section>
      
      <hr class = "hrBottom">
        <section class="bioPics">
            <img  src="icons-pretty-pics/Ashley_Pic.jpeg" alt="Ashley's Bio">
            <p>My Name is Ashley and I’m a Software Developer! I recently got out of the Navy where I spent ~7 years, the last 4 of them working on submarines, in particular the USS Michigan (SSGN 727), as a Fire Control Specialist (FT). I currently hold a position as a Site Reliability Engineer for Oracle Cloud Infrastructure. What I love most about software development is the challenge it gives me to create solutions for everyday issues! All my adult life I have looked for a job where there was always something to learn and software development has proven to be it.
            </p>
        </section>
        <section class="bioPics">
            <img src="icons-pretty-pics/McPherson Profile Photo.jpg" alt="Bobby's Bio">
            <p>Bobby is a web developer and humanities enthusiast with a passion for the outdoors. He loves technology (as is usual in the technological career fields) and built his first computer at the age of 12. He is happily married with four daughters. When he is not programming or outdoors, he is reading books.</p>
        </section>
        <section class="bioPics">
            <img src="icons-pretty-pics/Kim-beer-pizza.png" alt="Kim's Bio">
            <p>I’m a 25-year Air Force veteran who is passionate about social issues, specifically veteran's and
              economic inequality issues.  I'd like to contribute to software solutions in those areas. My 
              skills and experience  would be well-suited in a small company or team interested in developing 
              software to help people better process their experiences with combat-related stress, sexual assault, 
              addiction, violent crime, and other psychologically traumatic events.</p>
        </section>
    </main>
    <footer id = "abFooter">
        <p> &copy 2020: Ashley Casimir, Bobby McPherson, Kim Damalas </p>
      </footer>
      
</body>
</html>