<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ISS Tracker</title>
    <!-- <link rel="stylesheet" type="text/css" href="/public/styles/styles.css"> -->
    <link rel="stylesheet" href = "styles/reset.css">
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
</head>
<body>
    <header>
        <%- include('partials/header') %>
    </header>
 

    <main id="bioMain">
        <section>
        <section id="APOD">
            <img src="https://via.placeholder.com/650" alt="Astronomy pic of day"> <!--TODO NEEDS TO BE TEMPLATED  -->
        </section>
        </section>

        <section class="bioPics">
            <img src="https://via.placeholder.com/150" alt="Ashley's Bio">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci blanditiis officiis repudiandae laborum nulla ex sunt ut nemo, optio consectetur odit placeat. Odit earum doloribus est pariatur ad, maxime recusandae!</p>
        </section>
        <section class="bioPics">
            <img src="https://via.placeholder.com/150" alt="Bobby's Bio">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt consectetur vel vero dolore iure omnis reprehenderit sapiente eveniet eum accusantium minus, dolorem aperiam, ipsum natus rem soluta asperiores eligendi vitae!</p>
        </section>
        <section class="bioPics">
            <img src="https://via.placeholder.com/150" alt="Kim's Bio">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit temporibus ullam nesciunt facere provident fuga voluptate modi. Placeat, temporibus, maxime quaerat iusto culpa obcaecati ipsam mollitia consequuntur, aliquam quidem veniam.</p>
        </section>
    </main>
        <%- include('partials/footer') %>  

</body>
</html>