<!doctype html>

<head>
  <title>Query Your Passes</title>
  <link rel="stylesheet" href = "styles/reset.css">
  <link rel="stylesheet" type="text/css" href="styles/lp-and-basicUser-styles.css">


</head>

<nav>
  <a href = "/"> <img class = "icon active logo" src = "/icons-pretty-pics/icon-small-ISS.png"> </a>
  <ul>

      <li> <a href = "pages/basicUser"> Your Passes </a></li>
      <li> <a href = "info">Fun Facts</a></li>
  </ul>

  <hr class = "hrBottom">

</nav>

<body>

  <div id = "greeting">    
    <h1>Hi <%= name%></h1>
    <h2>Get your pass info for <%= city %></h2>
  </div>

  <div class = "pass-times-query">

      <form method="get" action="/basic/results">   
        <input type = "hidden" name = "city" value = "<%= city %>">
      <button id = "query-pass" type="submit">See My Passes</button>
      </form>
    
  </div>
  
  <div >
    <img class = "carlQuote" src = "/icons-pretty-pics/earthrise.png">
  </div>

  <footer id="buFooter">
      <a href = "/aboutus">Meet The Team</a>
      <p> &copy 2020: Ashley Casimir, Kim Damalas, Bobby McPherson</p>
    </footer>
      
  </body>