<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ISS Tracker</title>
    <link rel="stylesheet" type="text/css" href="/public/styles/styles.css">
</head>
<body>
    <header>
        <!-- <%- include('../partials/header') %> -->   
    </header>

    <main>
        <div><h1>
            Track the International Space Station
        </h1 ></div>

        <div>
            <img src="https://via.placeholder.com/300" alt="Astronaut one">
        </div>

        <div>
            <img src="https://via.placeholder.com/300" alt="Astronaut two">
        </div>

        <div>
            <a href="https://www.nasa.gov/mission_pages/station/expeditions/index.html">Link to all bios</a>
        </div>

        <div>
            <a href="https://www.space.com/3-international-space-station.html">
            <img src="https://via.placeholder.com/200" alt="ISS Layout">
            </a>
        </div>

        <div>
            <a href="https://www.nasa.gov/content/international-space-station-latest-news-archives/#.Xxj8dyhKhPY">
            <img src="https://via.placeholder.com/200" alt="Current news">
            </a>
        </div>

        <!-- <div> STRETCH LINKS/SECTIONS
            <a href="https://www.space.com/3-international-space-station.html">
            <img src="https://via.placeholder.com/200" alt="ISS Layout">
            </a>
        </div>

        <div>
            <a href="https://www.nasa.gov/content/international-space-station-latest-news-archives/#.Xxj8dyhKhPY">
            <img src="https://via.placeholder.com/200" alt="Current news">
            </a>
        </div> -->
    </main>
    <footer>
        <!-- <%- include('../partials/footer') %> -->   
    </footer>
</body>
</html>