<!doctype html>

<head>
  <title>Fun Facts and ISS Info</title>
  <link rel="stylesheet" href = "styles/reset.css">
  <link rel="stylesheet" href="styles/kimStyles.css">

</head>

<body>
  <header>
    

    <!-- Partial to be inserted into each page in the header section or other
depending on what makes sense with CSS-->

  <nav>
    <ul>
        <li> <a href = "pages/landingPage"> Home </a></li>
        <li> <a href = "pages/radio"> Radio User</a></li>
        <li> <a href = "pages/info">Fun Facts</a></li>
        <li> <a href = "pages/aboutUs">Meet The Team</a></li>
    </ul>
  </nav>

  </header>

  <main>
    <!-- This section has 2 Astronaut pics and bios -->

    <section  id = "astroBios">
      <div>
        <img src = "/astronauts/bobBehnken.jpg" class = "mediumImage" target = "_blank" alt = "Pic and Bio Bob Behnken">
        <figcaption><a href = "https://www.nasa.gov/astronauts/biographies/robert-l-behnken" target = "_blank"> Bob Behnken</a></figcaption>
      </div> 
      <div>
        <img src = "/astronauts/chrisCassidy.jpg"  class = "mediumImage" alt = "Pic and Bio Chris Cassidy">
        <figcaption><a href = "https://www.nasa.gov/astronauts/biographies/christopher-j-cassidy" target = "_blank"> Chris Cassidy</a></figcaption>
      </div>
      <div>
        <img src = "/astronauts/dougHurley.jpg" class = "mediumImage" target = "_blank" alt = "Pic and Bio Doug Hurley">
        <figcaption><a href = "hhttps://www.nasa.gov/astronauts/biographies/douglas-g-hurley" target = "_blank"> Doug Hurley</a></figcaption>
      </div>
    <!-- </section> -->
    <!-- <section id = "cosmonauts"> -->
      <div>
        <img src = "/astronauts/anatolyIvanishin.jpg" class = "mediumImage" target = "_blank" alt = "Pic and Bio Anatoly Ivanishin">
        <figcaption><a href = "http://www.gctc.ru/main.php?id=177" target = "_blank"> Anatoly Ivanishin</a></figcaption>
      </div>
      <div>
        <img src = "/astronauts/ivanVagner.jpg" class = "mediumImage" target = "_blank" alt = "Pic and Bio Ivan Vagner">
        <figcaption><a href = "http://www.gctc.ru/main.php?id=164" target = "_blank"> Ivan Vagner</a></figcaption>
      </div>
    </section>

  </main>
  <!-- Partial to be inserted into each page in the body section or just after
depending on what makes sense with CSS-->


<footer class="footer">
    <ul >
      <li> <p> &copy 2020: Ashley Casimir, Kim Damalas, Bobby McPherson</p></li>
        <li> <a href = "/pages/aboutUs">Meet The Team</a></li>
    </ul>
</footer>
</body>

