<div class="sunrise-set">
    <h2>Your Sunrise/Sunset Time for <%= location.formatted_query %></h2>
    <hr>
    <% xxxx.forEach(day => { %>
      <h3> <%= day.date %> </h3>
      <h3> <%= day.time %> </h2>
      <hr>
    <%})%>
  </div>
