<!DOCTYPE html>
<head>
    <title>ISS Tracker</title>
    <link rel="stylesheet" type="text/css" href="styles/lp-and-basicUser-styles.css">
    <!-- <link rel="stylesheet" type="text/css" href="styles/styles.css"> -->
</head>
<body id = "LP">
    <header>
      <h1 id = "LPh1">Track the International Space Station (ISS)</h1 >
    </header>
    <main class = "pic-container">
      <video autoplay muted loop id="iss-video">
        <source src="/icons-pretty-pics/stop-33-sec-parts.mp4" type="video/mp4">
      </video>
      
    <div class = "form-container">
      <form method = "post" action = "/basic">
        <input name = "name" placeholder = "Enter Name"  type = "text" required>
        <input name = "city" placeholder = "Enter City"  type = "text" required>
        
        <input type = "image" class = "icon active" id = "lp-button" src = "/icons-pretty-pics/icon-small-ISS.png">
      </form>
    </div>
    </main>
</body>
</html>