
  /* default view mobile <= 400-576px */
  
  * {
    color: black;
    font-size: small;
  }
  
  body {
    background-color: whitesmoke;
  }


  nav ul {
    display: flex;
    justify-content: center;
    /* background-color: gray; */
    height: 20px;
    padding: 15px;
    border-bottom: 1px solid gray;
  }


  a, p {
    font-size: small;
    text-decoration: none; 
  }
  
  nav ul a {
    line-height: 1.5;
    color: black;
    margin: 15px;
    }

  a:hover{
    color: black;
  }

  .icon, .active {
    width: 50px;
    margin: 10px 20px;
    animation-name: spin;
    animation-duration: 1.5s;
    animation-iteration-count: 2;
  }
  
  @keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
  }

  .logo {
    float: left;
  }
  

  .mediumImage {
    max-width: 100px;
    border: gray solid 3px;
    border-radius: 3px;
  }

  #patch {
    border: none;
    width: 100px;
    margin-top: 20px;

  }

  #astroBios, #cosmonauts{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    margin: 30px auto;
  }

  #astroBios a:hover, #cosmonauts a:hover, ul a:hover{
    color: gray;
  }


  footer p, footer a{
    line-height: 1.5;
    text-align: left;
    color: whitesmoke;
    margin-left: 20px;
  }


  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:gray;
    }




/* tablet size 576-992px */
@media screen and (min-width: 576px) { 
  body {
    background-color: red;
  }


  nav ul {
    display: flex;
    margin: 30px auto 30px 100px;
  }

  a {
    margin: auto 30px;
    font-size: medium;
    text-decoration: none; 
    color: whitesmoke; 
  }

  a:hover{
    color: black;
  }

  .mediumImage {
    width: 150px;
  }

  div{
    
    width: 200px;
    margin: 0 auto;
  }

  #astroBios, #cosmonauts{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

  }

  footer p{
    line-height: 1.5;
    margin: 10px auto 30px 20px;
    text-align: left;
  }


  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
  }


}

/* large screen 992px+ */

  @media screen and (min-width: 992px) { 
  body {
    background-color: pink;
  }


  nav ul {
    display: flex;
    margin: 30px auto 30px 100px;
    margin-top: 0%;
    margin-left: 0%;
  }

  a {
    margin: auto 30px;
    font-size: medium;
    text-decoration: none; 
    color: whitesmoke; 
  }

  a:hover{
    color: black;
  }

  .mediumImage {
    width: 150px;
  }

  div{
    
    width: 200px;
    margin: 0 auto;
  }

  #astroBios, #cosmonauts{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

  }

  footer p{
    line-height: 1.5;
    margin: 10px auto 30px 20px;
    text-align: left;
    font-size: 15px;
  }


  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
  }









