body {
  background-color: grey;
}


nav ul {
  display: flex;
  margin: 30px auto 30px 100px;
}

a {
  margin: auto 30px;
  font-size: medium;
  text-decoration: none; 
  color: whitesmoke; 
}

a:hover{
  color: black;
}

.mediumImage {
  width: 150px;
}

#astroBios, #cosmonauts{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

footer, footer a{
  line-height: 1.5;
  margin: 30px auto 30px 50px;
  text-align: left;
}