  /* default view mobile <= 400-576px */

nav ul {
    display: flex;
    justify-content: center;
    /* background-color: gray; */
    height: 20px;
    padding: 15px;
    /* border-bottom: 1px solid gray; */
    
}

nav{
    margin-top: 20px;
}

nav ul a {
    line-height: 1.5;
    color: black;
    margin: 15px;
    background-color: #A9A9A9	;
    padding: 3px;
    border: black solid 1px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 5px;
    }

a:hover{
    color: rgb(85, 84, 84);
}

figcaption{
    background-color: #A9A9A9;
    height: 25px;
    line-height: 25px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.logo {
    float: left;
}

.mediumImage {
    max-width: 100px;
    border: gray solid 3px;
    border-radius: 3px;
}

#patch {
    border: none;
    width: 100px;
    margin-top: 20px;
    margin-bottom: 52px;

}

#astroBios, #cosmonauts{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    margin: 30px auto;
}

#astroBios{
    margin-top: 7%;
}

#cosmonauts{
    margin-bottom: 7%
}

#astroBios a:hover, #cosmonauts a:hover, ul a:hover{
    color: gray;
}


ul a:hover{
    color: white;
    background-color: black;
}


  /* Single-direction drop shadow */

hr.hrTop {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

hr.hrBottom {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
    margin-bottom: 125px;
}

.bioPics {
    width: 600px;
    background-color: pink;
    /* margin-right: 100px; */
    word-wrap: break-word;
    max-height: 250px;
}

.bioPics p {
    color: red;
    font-size: larger;
    display: inline-block;

}

.bioPics img {
    float: left;
    width: 25px;
}

#bioMain {
    margin-left: 0px;
    background-color: yellow;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#APOD {
    /* margin-right: 700px; */
    width: 33%;
    margin-left: 33%;
    margin-right: 33%;
}


/* tablet size 576-992px */
@media screen and (min-width: 576px) { 
    nav ul {
        display: flex;
        margin: 0px auto 20px auto;
    }
    
    .mediumImage {
        width: 150px;
    }

    #astroBios, #cosmonauts{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    footer p{
        line-height: 1.5;
        margin: 10px auto 10px 20px;
        text-align: left;
    }
    
    
    footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: black;
        color: white;
        text-align: center;
    }
}

/* large screen 992px+ */

@media screen and (min-width: 992px) { 


    .mediumImage {
        width: 150px;
    }
    
    div{
        
        width: 200px;
        margin: 0 auto;
    }
    
    #astroBios, #cosmonauts{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}