  /* default view mobile <= iphone 8 on Chrome 375 x 667px */

/* //////////////LP Styling ///////////////*/


#LP{
    background-color: grey;
}

#LPh1 {
  font-size: 4em;
  text-align: center;
  margin: 40px;
  color: whitesmoke;
  font-weight: 200;
}

#LPh2 {
  font-size: 3.5em;
  text-align: center;
  margin: 5em auto;
  color: whitesmoke;
  width: 90%;
  font-weight: 200;
}


#iss-video {
  position: fixed;
  left: 0;
  top: 20%;
  width: 100%;
}

video {
  /* override other styles to make responsive */
  width: 100%    !important;
  height: auto   !important;
}

.pic-container {
  background-repeat: no-repeat;
  padding: 30px;
  margin: auto;
}

.form-container {
    width: 40%;
    background-color: whitesmoke;
    opacity: .75;
    margin: 15% auto;
    border-radius: 10%;
    padding: 20px;
}
input, #query-pass{
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 2em;  
  margin: 10px auto 0px;
  font-size: xx-large;
}
  
 ::placeholder {
  color: black;
  opacity: 1;
  font-size:xx-large;
}

#lp-button {
  height: 100px;
  margin: 1em auto;

  animation-name: spin;
  animation-duration: 1.5s;
  animation-iteration-count: 2;
}

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

#countdown {
  color: blue;
  font-size: 4em;
  width: 100%;
  position: fixed;
  text-align: center;
  top: 68%;  
}

/* No Need for LP Media Queries */
/* ////////////////// */

/*//////////// Basic User Styling ////////////*/

* {
  color: black;
  font-size: small;
}

body {
  background-color: whitesmoke;
}

#greeting h1 {
  font-size: 3.5em;
  text-align: center;
  line-height: 1.5;
}

h2, .headline {
  font-size: 3em;
  text-align: center;
}

nav button {
  display: flex;
  justify-items: flex-end;
  padding: 15px;
}


nav{
  margin: 3em;
  /* width: 90%; */
}

.scroll form{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  border: none;  

}

a, p {
  font-size: 2em;
  text-decoration: none; 
}

nav ul a {
  line-height: 1.5;
  font-size: 2.5em;
  color: whitesmoke;
  margin: 15px;
  background-color: #A9A9A9	;
  padding: .4em;
  border: none;  
}
ul a:hover{
  color: white;
  background-color: black;
}

hr.hrBottom {
  height: 12px;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
  margin: 3em 2em 2em 12em;
}
.icon, .active, #nav-spin{
  width: 130px;
  margin: 10px 20px;
  animation-name: spin;
  animation-duration: 1.5s;
  animation-iteration-count: 2;
}

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

.logo {
  float: left;
}

.pass-times-query {
  background-color: gray;
  border: 2px solid gray;
  border-radius: 3px;
  width: 45%;
  margin: 5em auto 3em 15em;
  padding: 2.5em;
}

button {
  padding: .5em 0 .5em 2em;
  text-align: center;
}

.carlQuote {
  top: 40%;
  width: 100%;
}

footer p, footer a{
  line-height: 1.5;
  text-align: left;
  color: whitesmoke;
}


footer {
  width: 100%;
  background-color:gray;
  height: 8em;
  margin-top: 8em;
  padding: 1em 3em;
}

#buFooter {
  position: fixed;
  bottom:0;
  left:0;
}

/* ////// ResultsStyling //// */

#results-nav {
  width: 100%;
}

.apod,.issMap, .viewing, .radio{
width: 100%;
margin: 2.5em 2em 2.5em 2.75em;
}

.viewing, .radio{
  text-indent: 3em;
  line-height: 1.3;
}


.wxIcon {
  width: 180px;
  margin: 1em 2em;
  animation: none;
}

.headline {
  color: whitesmoke;
  background-color: gray;
  padding: 1em;
  line-height: 1.2;
  width: 100%;
  margin: auto 0 auto .25em;
}
.weather {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: .5em auto ;
}


.weather h2 {
  padding-top: 1.5em;
  font-size: 3.5em;
}

.pass-times {
  line-height: 1.5;
  font-size: 1.5em;
  margin-top: 2em;
  text-align: center;
}

hr.hrBottom2 {
  height: 12px;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
  width: 70%;
  margin: 2em auto; 
}

.callsigns{
  list-style: square inside ;
  margin-left: 18em;
}

#callsigns {
  text-indent: none;
  margin: 0em 0em 2em 10em;
}

.radio-div {
  width: 50%;
  margin: 2.5em 2em 2.5em 18em;
}


/* ////////////// INFO PAGE //////////////// */

.mediumImage {
  max-width: 280px;
  border: gray solid 3px;
  border-radius: 3px;
}

.cosmoImage {
  width: 280px;
}

#patch {
  border: none;
  width: 280px;
  margin-top: 12px;
  margin-bottom: 52px;
}

#astroBios, #cosmonauts{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  margin-top: 3em;
  margin-left: 3em;
  width: 100%;

}

figcaption{
  background-color: #A9A9A9;
  height: 3em;
  font-size: 1.3em;  
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  padding-top: .5em;
  text-align: center;
  width: 100%;
}

figcaption a {
  color:whitesmoke;
}

#astroBios{
  margin-top: 7%;
}

#cosmonauts{
  margin-bottom: 7%
}

#astroBios a:hover, #cosmonauts a:hover, ul a:hover{
  color: gray;
}

ul a:hover{
  color: white;
  background-color: black;
}

hr.hrFull {
  height: 12px;
  margin: 2em 0 .5em 1.9em;

  width: 100%;
  border: 0 ;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

#country-map figcaption {
  width: 100%;
  margin: -2.5em 0 2em 1.9em;
}

.trivia {
  padding: 2em 0;
  margin: 2em 0
}

.facts li, .callsigns li{
  font-size: 1em;
  margin: 2em 0 .5em 2.5em;
  line-height: 1.2;

}

.facts{
  list-style: square inside ;
  margin-left: 2em;
}

/* ////////////// ABOUT US //////////////// */


.bioPics {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0em 0em 5em 2.5em;
}

.bioPics p {
  margin-left: 3em;
  font-size: 3em;
}

.bioPics img {
    max-width: 250px;
    border: gray solid 3px;
    border-radius: 3px;  
}

#abFooter {
  height: 4.25em;
  margin-top: 0em;
}